{{ define "main" }}
<content>
    <h1>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <a href="{{ .RelPermalink }}index.xml"><img class = "rss"  src="{{ "image/rss.png" | relURL }}" alt="RSS xmlへのリンク"></a>
    </h1>

    {{ with .Params.summary }}
        <h4>概要</h4>
        <p class="summary">{{ . }}</p>
        <hr>
    {{ end }}

    {{ .Content }}

    <hr>
    <ul class="blog-posts">
    {{ $infoPages := where .Pages "Type" "info" }}
    {{ if gt (len $infoPages) 0 }}
    {{ range $infoPages }}
        <li>
            {{ if gt .Lastmod .Date }}
                <small class = "lastmod">
                    更新日：{{ .Lastmod.Format "2006-01-02" }}
                </small>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        <hr>
    {{ end }}
    {{ end }}

    {{ range where .Pages "Type" "episode" }}
        <li>
            {{ if gt .Lastmod .Date }}
                <small class = "lastmod">
                    更新日：{{ .Lastmod.Format "2006-01-02" }}
                </small>
            {{ end }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
    </ul>
    {{ range .Sections }}
        <section>
            <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            <ul class="blog-posts">
            {{ range .Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ if gt .Lastmod .Date }}
                        <span class = "lastmod_list">
                            (最終更新日：{{ .Lastmod.Format "2006-01-02" }})
                        </span>
                    {{ end }}
                </li>
            {{ end }}
            </ul>
        </section>
    {{ end }}

    {{ partial "section_tags.html" . }}

</content>
{{ end }}