hr {
    margin: 2em 0;
}

p {
    line-height: 1.8em;
    margin: 0.6em 0;
}

nav a{
    margin: 0 4px;
}

li a, .home_list{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#chapter_nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1em;
    margin: 0 auto;
    max-width: min(calc(100vw - 40px), var(--width));
    width: fit-content;
    padding: 1vh 0;
    background-color: color-mix(in sRGB, var(--background-color) 90%, dimgray);
    border-radius: 10px;
}

#episode_nav{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1em;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1vh;
    z-index: 999;
    max-width: min(calc(100vw - 40px), var(--width));
    width: fit-content;
    padding: 1vh 0;
    margin: 0 auto;
    background-color: color-mix(in sRGB, var(--background-color) 90%, dimgray);
    border-radius: 10px;
}


#info_nav{
    max-width: min(calc(100vw - 40px), var(--width));
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 1vh 0;
    background-color: color-mix(in sRGB, var(--background-color) 90%, dimgray);
    border-radius: 10px;
}

#chapter_nav > a, #episode_nav > a, #info_nav > a{
    padding: 0.5em 1em;
}


.nav_item{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.nav_prev{
    justify-self: start;
}

.nav_toc{
    justify-self: center;
}

.nav_next{
    justify-self: end;
}

#rss{
    height: 1em;
}

h1{
    border-bottom-style: dashed;
    border-bottom-color: var(--text-color);
}

h2{
    border-bottom-style: dotted;
}