{{ define "main" }}
<content>

{{ .Content }}

<h3>小説新着</h3>

    {{ $sections := where .Site.Sections ".Params.onTopPage" "eq" true }}
    {{ range $sections }}
    <h4>
        {{ .Title }}
        <a href="{{ .RelPermalink }}index.xml"><img class = "rss" src="{{ "image/rss.png" | relURL }}" alt="RSS xmlへのリンク"></a>
    </h4>
    <ul>
        <!-- Work -> (Chapter) -> Episode 構造であると決め打ちしている -->
        {{ $pages := where .RegularPages "Type" "episode" }}
        {{ if gt (len .Sections) 0 }}
        {{ $pagesOnChap := slice }}
        {{ range .Sections.ByWeight }}
        {{ $pagesOnChap = $pagesOnChap | append (where .RegularPages "Type" "episode") }}
        {{ $pages = $pages | append $pagesOnChap }}
        {{ end }}
        {{ end }}
        {{ $pages = $pages.ByDate.Reverse }}
        {{ range first 5 $pages }}
        <li class = "home_list">
            <time>{{.Date.Format "2006-01-02"}}</time>
            &ensp;
            <a href="{{.RelPermalink}}">{{.Title}}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}

</content>
{{ end }}